<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-8 col-sm-10 col-md-10">
    <h1>Tweets</h1>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2">
    <%= link_to 'New Tweet', new_tweet_path, class: "btn-outline-secondary btn-sm" %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Picture</th>
      <th>Likes cuantity</th>
      <th>Re tweet cuantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.content %></td>
        <td><%= tweet.picture %></td>
        <td><%= tweet.likes_cuantity %></td>
        <td><%= tweet.re_tweet_cuantity %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to_next_page @tweets, 'Mostrar mas tweets' %>
